{% extends '__base__.html' %}

{% block title %}KAIST 버스 - {{ bus.name }}{% endblock %}

{% block container %}
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      {% for station in bus.stations %}
      <li class="nav-item">
        <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="pills-{{ station.id }}-tab" data-toggle="pill" href="#pills-{{ station.id }}" role="tab" aria-controls="pills-{{ station.id }}" aria-selected="true">{{ station.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabContent">
      {% for station in bus.stations %}
      <div class="tab-pane fade {% if loop.index == 1%}show active{% endif %}" id="pills-{{ station.id }}" role="tabpanel" aria-labelledby="pills-{{ station.id }}-tab">
        <ul class="list-group">
          {% for time in station.times[weekday] %}
          <li class="list-group-item">{{ time }}</li>
          {% else %}
          <li class="list-group-item inactive">운행정보가 없습니다.</li>
          {% endfor %}
        </ul>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
