<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KAIST 버스</title>

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>

  <body class="grey lighten-4">

    <header>
      <div class="navbar-fixed">
        <nav class="light-green">
          <div class="container">
            <div class="nav-wrapper">
              <a href="{{ url_for('__init__.line_list') }}" class="brand-logo center">KAIST 버스</a>

              <ul class="right">
                <li></li>
              </ul>

            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>

      <div class="container">
        <div class="row">

          <div class="col m1 l2 hide-on-small-only">
            &nbsp;
          </div>

          <div class="col s12 m10 l8">
            <div class="row">

              &nbsp;

              {% for line in lines %}
              <div class="card white z-depth-0">
                <a href="{{ url_for('__init__.line_detail', line_id=line.get('id', -1)) }}">
                  <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{ line.get('name', '') }}</span>
                  </div>
                </a>
                <div class="divider"></div>
              </div>
              {% endfor %}

              <p class="center">
                <br/>
                <a href="mailto:yearnning@kaist.ac.kr" class="grey-text text-darken-2 underline">
                  시간표가 잘못됐다면, 제보해주세요!
                </a>
                <br/>
                <span class="grey-text text-darken-2">(전체 시간표 업데이트: 2016-06-19)</span>
                <br/>
                &nbsp;
              </p>

              <div class="divider"></div>

              &nbsp;

              <div class="row">
                <div class="col s12 center">
                  <img src="{{ url_for('static', filename='images/include.png') }}" alt="" class="responsive-img">
                </div>
                <div class="col s12 center grey-text text-darken-2">
                  <span class="">
                    이 프로젝트는 KAIST 모바일 앱개발 동아리 <a href="http://include.kaist.ac.kr" class="black-text" target="_blank">인클루드</a>의 지원을 받았습니다<br/>
                    프로젝트를 제공해주신 김동우 선배님께 감사드립니다
                  </span>
                </div>
              </div>


              <div class="card white z-depth-0">
                <div class="fb-comments" data-href="http://bus.kaist.ac.kr/" data-numposts="7" data-width="100%"></div>
                <div class="divider"></div>
              </div>

            </div>
          </div>


          <div class="col m1 l2 hide-on-small-only">
            &nbsp;

            <div class="card grey lighten-4 z-depth-0">
              <div class="card-content">
                <div class="fb-like" data-href="http://bus.kaist.ac.kr/" data-layout="box_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
                <p>&nbsp;</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bus.kaist.ac.kr/">Tweet</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=296453350689163";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43718027-1', 'kaist.ac.kr');
  ga('send', 'pageview');

</script>

  </body>
</html>
